html {

}

body {
  width: 100%;
  font-family: 'Oswald', 'Open Sans', sans-serif;
  line-height: 1.2rem;
}

/* General Classes */
.container {
  display: flex;
  width: 80%;
  margin-bottom: 15px;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  background-color: lightblue;
}

nav {
  list-style: none;
  display: flex;
  margin: .5rem .1rem .5rem 9rem;
  align-items: center;
}

nav li {
 padding: 0 1.2rem;
}

nav a {

}

/* Company */
@media only screen and (min-width: 600px) {
  .tabnav, .mobinav {
    display: none;
  }

  .company {
    display: inline-grid;
    text-align: center;
  }

  .company img {
    margin: auto;
  }
}

@media only screen and (max-width: 600px) and (min-width: 520px) {
  .desknav, .mobinav, .company img {
    display: none;
    }

    .company {
      display: inline-grid;
      text-align: center;
    }

  }

@media only screen and (max-width: 520px) {
  .desknav, .tabnav, .company img {
    display: none;
  }

  header {
    display: block;
  }

  .company {
    display: flex;
    justify-content: space-around;
  }

  .mobinav {
    margin: auto;
    display: flex;
    justify-content: space-around;
  }
}


/* Featured */

.featured {
  display: inline-grid;
  width: 100%;
  height: auto;
  background-color: black;
  margin-top: 60px;
  text-align: center;
}

.featured h1 {
  color: white;
  margin: auto;
}

/* Info */
.info {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.tinfo {
  width: 40%;
}

.tinfo h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2.25rem;
}

.tpic {
  width: 40%;
}

.tpic img {
  width: 300px;
  height: 400px;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
}

footer span {
  margin-left: 20px;
}

footer a {
  margin-right: 20px;
}
